/* ---------------------- Section top-inner ---------------------- */
section.top-inner {
    padding: 0;
	color: #fff;
	text-align: right;
    position: relative;
  

	.section-inner {
		z-index: 2;
        max-width: 1690px;
        padding: 0;
        .wrapper {
            background: url("../images/inner/bg-top.png") no-repeat;
            background-position: center bottom;
            background-size: auto 100%;
            padding: 80px 255px;
        }
	}
	.title {
		@include f-bar-b;
		font-size: 113px; 
		line-height: 1;
		margin: 0;
	}

	.breadcrumbs {
		@include f-r;
		font-size: 18px;
        margin-top: 10px;
        text-align: right;
	}

    @media only screen and (max-width : $lw) {
        .section-inner {
            .wrapper {
                padding: 50px 155px;
            }
        }
        .title {
            font-size: 90px;
        }
    }


    @media only screen and (max-width : $mw) {
        .section-inner {
            .wrapper {
                padding: 30px 20px;
                background-position: right -30px bottom;
            }
        }
        .title {
            font-size: 50px;
        }
        .breadcrumbs {
            font-size: 17px;
        }
    }
}
/* --------------------- /Section top-inner ---------------------- */


/* ---------------------- Section about-inner ---------------------- */
section.about-inner {
    overflow: visible;
    z-index: 9;
    .decor {
        &.d1 {
            text-align: left;
            bottom: -30px;
            left: -30px;
            width: 15%;

            @media only screen and (max-width : $mw) {
                bottom: -30px;
                left: -15px;
                width: 30%;
            }       
        }
    }
    .parts {
        .part-text {
            width: 45%;
        }
    }
    .boxes {
        display: flex;
        //flex-wrap: wrap;
        margin: -15px;
        margin-top: 100px;
        .box {
            
            padding: 50px 15px;
            text-align: center;
            background: url("../images/inner/bg-box.svg") no-repeat;
            background-size: contain;
            background-position: center center;
            .text {
                @include f-bl;
                font-size: 20px;
                color: var(--color-text);
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .boxes {
            margin: -35px -15px;
            margin-top: 70px;
            .box {
                padding: 35px 15px;
                .text {
                    font-size: 18px;
                }
            }
        }
    }

    @media only screen and (max-width : $tw) {
        .boxes {
            margin: -15px -15px;
            margin-top: 50px;
            .box {
                padding: 15px 15px;
                .text {
                    font-size: 18px;
                }
            }
        }
        .image {
            margin-top: 30px;
        }
    }
}
/* --------------------- /Section about-inner ---------------------- */

/* ---------------------- Section history ---------------------- */
section.history {
    padding-bottom: 230px;
    overflow: visible;
    z-index: 2;
    .bg {
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        font-size: 0;
        img {
            width: 100%;
        }
    }
    .slider-history {
        max-width: 1630px;
        margin-top: 35px;
    }
    .nav {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        z-index: 9;
        .arrow {
            cursor: pointer;
            pointer-events: auto;
        }
    }
    .slider-thumbs {
        
        margin-top: 100px;
        .swiper-slide { 
            width: auto; 
            cursor: pointer;
            padding: 50px;
            &.swiper-slide-thumb-active {
                .year {
                    color: #fff;
                    &:before {
                        opacity: 1;
                    }
                }
            }
            .year {
                @include f-bar-b;
                font-size: 64px;
                color: #AEAEAE;
                position: relative;
                span {
                    position: relative;
                    z-index: 2;
                    transition: color 0.5s;
                }
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 169px;
                    height: 153px;
                    background: url("../images/inner/bg-thumb.svg") no-repeat;
                    background-size: contain;
                    background-position: center center;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    opacity: 0;
                    transition: opacity 0.5s;
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        padding-bottom: 130px;
        
        .bg {
            bottom: -85px;
        }

        .nav {
            .arrow {
                img {
                    height: 75px;
                }
            }
        }
        .slider-thumbs {
            margin-top: 45px;
            .swiper-slide { 
                .year {
                    &:before {
                        width: 140px;
                        height: 135px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $tw) {
        .bg {
            bottom: -75px;
        }
    }

    @media only screen and (max-width : $mw) {
        padding-bottom: 30px;
        .bg {
            bottom: -55px;
        }
        .nav {
            top: auto;
            bottom: 0;
            transform: none;
        }
        .slider-thumbs {
            margin-top: 25px;
            .swiper-slide { 
                padding: 25px;
                .year {
                    font-size: 45px;
                    &:before {
                        width: 95px;
                    }
                }
            }
        }
    }
}
/* --------------------- /Section history ---------------------- */

.box-history {
    display: flex;
    align-items: center;
    padding: 0 150px;
    .text {
        width: 35%;
        padding-left: 50px;
        .title {
            @include f-bl;
            font-size: 32px;
            color: var(--color-text);
        }
    }
    .image {
        position: relative;
        flex-grow: 1;
        padding-right: 50px;
        width: 65%;
        .year {
            position: absolute;
            top: 13%;
            right: 11%;


            @include f-bar-b;
            font-size: 113px;
            color: var(--color-main);
        }
        .inner {
            mask-image: url("../images/inner/history/mask.png");
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            //height: 575px;
            overflow: hidden;

            @include flex-center;
            img {
                max-width: 100%;
            }
        }
    }

    @media only screen and (max-width : $lw) {
        padding: 0 100px;
        .text {
            .title {
                font-size: 25px;
            }
        }
    }

    @media only screen and (max-width : $tw) {
        .text {
            width: 40%;
        }
        .image {
            width: 60%;
        }
    }

    @media only screen and (max-width : $mw) {
        flex-wrap: wrap;
        padding: 0 10px;
        .text {
            width: 100%;
            padding: 0;
            .title {
                font-size: 22px;
            }
        }
        .image {
            width: 100%;
            margin-top: 25px;
            padding: 0;
            .year {
                font-size: 85px;
            }
        }
    }
}

/* ---------------------- Section family ---------------------- */
section.family {
    .section-inner {
        position: relative;
        z-index: 9;
    }

    @media only screen and (max-width : $mw) {
        .parts {
            flex-direction: column-reverse;
            .part {
                &:nth-child(2) {
                    margin-top: 0;
                }
                &:nth-child(1) {
                    margin-top: 25px;
                }
            }
        }
    }
}
/* --------------------- /Section family ---------------------- */

/* ---------------------- Section quality ---------------------- */
section.quality {
    overflow: visible;
    
    .decor {
        &.d1 {
            top: -60px;
            left: 45%;
            width: 20%;
            text-align: left;

            @media only screen and (max-width : $mw) {
                top: -10px;
                left: -5%;
                width: 50%;
            }
        }
    }
    .boxes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: -25px;
        .box {
            width: 50%;
            padding: 25px;

            .inner {
                @include flex-center;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .parts {
            .part {
                &:nth-child(2) {
                    margin-top: 45px;
                }
            }
        }
    }
}
/* --------------------- /Section quality ---------------------- */

/* ---------------------- Section category-top ---------------------- */
section.category-top {
    overflow: visible;
    .decor {
        z-index: 9;
        &.d1 {
            bottom: -20px;
            left: -80px;
            width: 20%;
            text-align: left;

            @media only screen and (max-width : $mw) {
                left: -40px;
                width: 60%;
                bottom: -90px;
            }   
        }
    }
    .image {
        img {
            mix-blend-mode: multiply;
        }
    }
}
/* --------------------- /Section category-top ---------------------- */

.menu-line {
    margin-top: 35px;
    .title-mobile {
        display: none;
    }
    .items {
        display: flex;
        justify-content: space-around; 
        margin: 0 -20px;
        
        .item {
            @include f-b;
            font-size: 32px;
            color: #747474;
            margin: 0 20px;
            cursor: pointer;
            transition: color 0.5s;
            position: relative;
            text-align: center;
            span {
                position: relative;
                z-index: 2;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                top: -15px;
                right: -35px;
                background: url("../images/inner/menu-line-item.svg") no-repeat;
                width: 75px;
                height: 68px;
                background-size: contain;
                opacity: 0;
                transition: opacity 0.5s;
            }
            &:hover {
                color: var(--color-main);
            }
            &.active {
                color: #393939;
                &:before {
                    opacity: 1;
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .items {
            .item {
                font-size: 28px;
                &:before {
                    top: -10px;
                    right: -25px;
                    width: 55px;
                    height: 54px;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .wrapper-items {
            display: none;
        }
        .items {
            display: block;
            .item {
                font-size: 22px;
                margin: 20px;
            }
        }
        .title-mobile {
            display: block;

            @include f-b;
            font-size: 22px;
            color: #747474;

            background: url("../images/icons/rd.svg") no-repeat;
            background-position: left 10px center;

            border: 2px solid #e7dada;
            padding: 10px;
            cursor: pointer;
        }
    }
}

/* ---------------------- Section products-inner ---------------------- */
section.products-inner {
    .decor {
        &.d1 {
            bottom: 31%;
            left: -4%;
            width: 20%;
            text-align: left;

            @media only screen and (max-width : $mw) {
                width: 37%;
                bottom: auto;
                top: 9%;
                left: -8%;
            }
        }
    }
    .section-title {
        position: relative;
        z-index: 2;
    }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -55px -35px;
        margin-top: 55px;
        .box {
            width: 33.33%;
            padding: 55px 35px;
        }
    }

    @media only screen and (max-width : $lw) {
        .boxes {
            margin-top: 15px;
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            justify-content: center;
            margin: -25px -25px;
            margin-top: 25px;
            .box {
                width: 100%;
                max-width: 400px;
                padding: 25px 25px;
            }
        }
    }
}
/* --------------------- /Section products-inner ---------------------- */

.box-product {
    cursor: pointer;
    .image {
        @include flex-center;
        height: 370px;
        position: relative;
        img {
            max-height: 100%;
            position: relative;
            z-index: 2;
            filter: drop-shadow(2px 3px 13px rgba(0, 0, 0, 0.5));
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-width: 90%;
            path {
                transition: fill 0.5s;
            }
        }
    }

    .text {
        text-align: center;
        position: relative;
        margin-top: 10px;
        .title {
            @include f-bl;
            font-size: 32px;
            color: var(--color-text);
        }

        .read-more {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateY(0%);
            opacity: 0;
            transition: 0.5s;
        }
    }

    &:hover {
        .image {
            svg path {
                fill: var(--color-main);
            }
        }
        .text {
            .read-more {
                opacity: 1;
                transform: translateX(-50%) translateY(150%);
            }
        }

    }

    @media only screen and (max-width : $lw) {
        .image {   
            height: 330px;
        }
        .text {
            .title {
                font-size: 28px;
            }
        }
    }   

    @media only screen and (max-width : $tw) {
        .image {   
            height: 280px;
        }
        .text {
            .title {
                font-size: 24px;
            }
        }
    }   

    @media only screen and (max-width : $mw) {
        .image {   
            height: 220px;
        }
        .text {
            .title {
                font-size: 22px;
            }
            .read-more {
                display: none;
            }
        }
    }
}

/* ---------------------- Section proccess ---------------------- */
section.proccess {
    padding-bottom: 300px;
    overflow: visible;
    z-index: 2;
    .decor {
        &.d1 {
            top: 50%;
            right: 3%;
            width: 15%;
            @media only screen and (max-width : $mw) {
                top: 48%;
                right: 3%;
                width: 23%;
            }
        }
        &.d2 {
            bottom: 0%;
            left: 3%;
            width: 20%;
            text-align: left;
        }
        &.d3 {
            top: 15%;
            right: -2%;
            width: 20%;

            @media only screen and (max-width : $mw) {
                top: 16%;
                right: -2%;
                width: 40%;
            }
        }

        &.d4 {
            top: 52%;
            left: -1%;
            width: 18%;
            text-align: left;

            @media only screen and (max-width : $mw) {
                top: 56%;
                left: -1%;
                width: 34%;
            }
        }
    }
    .bg {
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        font-size: 0;
        img {
            width: 100%;
        }
    }

    .items {
        margin-top: 75px;
        .item {
            display: flex;
            align-items: center;
            margin: 0 -20px;
            margin-top: 50px;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            .part {
                padding: 0 20px;
            }
            .part-text {
                width: 40%;
                display: flex;
                align-items: center;
                .number {
                    height: 100px;
                    width: 150px;
                    flex-shrink: 0;
                    margin-left: 20px;
                    background: url("../images/inner/proccess-number-behind.svg") no-repeat;
                    background-size: contain;
                    background-position: center center;
                    @include flex-center;

                    span {
                        @include f-bar-b;
                        font-size: 64px;
                        color: #fff;
                    }
                }

                .content {
                    max-width: 340px;
                    p {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
            .part-arrow {
                width: 20%;
                text-align: center;
                img {
                    max-width: 100%;
                }
            }
            .part-image {
                width: 40%;
                text-align: center;
            }
            .image {
                font-size: 0;
                position: relative;
                img.behind {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%); 
                    max-height: 140%; 
                }
                img.main {
                    border: 10px solid #fff;
                    box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
                    max-width: 70%;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .items {
            .item {
                .part-text {
                    .number {
                        height: 80px;
                        width: 100px;
                        margin-left: 20px;
                        span {
                            font-size: 55px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .items {
            margin-top: 45px;
            .item {
                flex-wrap: wrap;
                margin-top: 100px;
                &:nth-child(7n+3), &:nth-child(7n+4), &:nth-child(7n+5), &:nth-child(7n+7) {
                    .part-arrow {
                        img {
                            transform: rotate(-90deg);
                        }
                    }
                }
                &:first-child {
                    margin-top: 0;
                }
                .part-text {
                    width: 100%;
                    .number {
                        height: 80px;
                        width: 65px;
                        margin-left: 20px;
                        span {
                            font-size: 45px;
                        }
                    }
                }
                .part-arrow {
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    height: 120px;
                    padding: 30px;
                    img {
                        width: 90px;
                        transform: rotate(90deg);
                    }
                }
                .part-image {
                    width: 100%;
                }
            }
        }
    }
    @media only screen and (max-width : $lw) {
        padding-bottom: 240px;
    }

    @media only screen and (max-width : $mw) {
        padding-bottom: 90px;
        .bg {
            bottom: -60px;
        }
    }
}
/* --------------------- /Section proccess ---------------------- */

section.has-wave {
    padding-bottom: 300px;
    overflow: visible;
    z-index: 2;
    .bg {
        position: absolute;
        bottom: -120px;
        left: 0;
        right: 0;
        font-size: 0;
        img {
            width: 100%;
        }
    }

    @media only screen and (max-width : $lw) {
        padding-bottom: 170px;
    }

    @media only screen and (max-width : $mw) {
        padding-bottom: 80px;
        .bg {
            bottom: -35px;
        }
    }
}

/* ---------------------- Section sumsum-inner ---------------------- */
section.sumsum-inner {
    z-index: 3;
    .decor {
        &.d1 {
            left: 37%;
            top: -70px;
            width: 26%;

            @media only screen and (max-width : $mw) {
                left: -3%;
                top: 40px;
                width: 36%;
            }
        }
    }

    .parts {
        margin-top: 25px;
    }

    .line {
        display: flex;
        align-items: center;
        padding: 25px 0;
        border-bottom: 1px solid #D7D7D7;
        .parameter {
            @include f-bl;
            font-size: 32px;
            color: var(--color-text);
            width: 36%;
            flex-shrink: 0;
            margin-left: 50px;    
        }
        .value {
            @include f-r;
            font-size: 20px;
            line-height: 1.5;
            color: var(--color-text);
        }
    }

    @media only screen and (max-width : $lw) {
        .line {
            padding: 20px 0;
            .parameter {
                font-size: 28px;
                margin-left: 30px;    
            }
            .value {
                font-size: 20px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .line {
            padding: 20px 0;
            .parameter {
                font-size: 22px;
                margin-left: 20px;    
                width: 32%;
            }
            .value {
                font-size: 18px;
            }
        }
    }
}
/* --------------------- /Section sumsum-inner ---------------------- */

/* ---------------------- Section info ---------------------- */
section.info {
    .section-inner {
        position: relative;
        z-index: 4;
    }

    .parts {
        margin-top: 90px;
        &:first-child {
            margin-top: 0;
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
    
    @media only screen and (max-width : $mw) {
        .parts {
            margin-top: 30px;
        }
    }
}
/* --------------------- /Section info ---------------------- */

/* ---------------------- Section recipes-inner ---------------------- */
section.recipes-inner {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -30px -60px;
        .box {
            width: 33.33%;
            padding: 30px 60px;
        }
    }

    @media only screen and (max-width : $lw) {
        .boxes {
            margin: -20px -40px;
            .box {
                padding: 20px 40px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            margin: -20px -15px;
            .box {
                width: 50%;
                padding: 20px 15px;

                .image {
                    height: 180px;
                }
                .text {
                    font-size: 20px;
                }
            }
        }
    }
}
/* --------------------- /Section recipes-inner ---------------------- */


/* ---------------------- Section recipe-top ---------------------- */
section.recipe-top {
    overflow: visible;
    z-index: 3;
    .decor {
        z-index: 9;
        &.d1 {
            top: 30%;
            left: -2%;
            width: 20%;
            text-align: left;

            @media only screen and (max-width : $mw) {
                top: 18%;
                left: -2%;
                width: 35%;
            }
        }
    }

    .line-title {
        display: flex;
        margin: 0 -40px;
        margin-bottom: 35px;
        .item {
            padding: 0 40px;
            border-left: 1px solid #B5B5B5;
            &:last-child {
                border-left: none;
            }
            .line-1 {
                @include f-bar-b;
                font-size: 100px;
                line-height: 1;
                color: var(--color-text);
                white-space: nowrap;
            }
            .line-2 {
                @include f-r;
                font-size: 32px;
                color: var(--color-text);
            }
        }
    }
    .list {
        margin-top: 35px;
    }
    .content {
        ul {
            li {
                list-style: none;
                position: relative;
                cursor: pointer;
                border-bottom: 1px solid #DDDDDD;
                margin-top: 0;
                padding: 10px 0;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    right: -26px;
                    top: 18px;
                    width: 16px;
                    height: 16px;
                    border: 1px solid #CBCBCB;
                    background: #F4DED3;
                    transition: background-color 0.5s;
                }

                &.active {
                    text-decoration: line-through;
                    &:before {
                        background: #F4DED3 url("../images/icons/vi.svg") no-repeat center;
                    }
                }
            }
        }
    }

    .parts {
        .part-image {
            width: 40%;
        }
    }
    .image {
        text-align: left;
        position: relative;
        img {
            border-radius: 25px;
            filter: drop-shadow(2px 11px 11px rgba(0, 0, 0, 0.25));
        }

        &:before {
            content: "";
            position: absolute;
            display: block;
            bottom: -100px;
            left: -100px;
            top: 0;
            right: 0;
            background: url("../images/inner/recipe-behind.svg") no-repeat;
            background-size: 65% auto;
            background-position: left bottom;
        }
    }

    .share {
        position: absolute;
        top: 0;
        right: 30px;
        z-index: 9;
        .icon-main {
            height: 65px;
            width: 65px;
            @include flex-center;
    
            background: url("../images/inner/share-behind.svg") no-repeat;
            background-size: contain;
            background-position: center center;
    
            cursor: pointer;
        }
        
    }

    @media only screen and (max-width : $lw) {
        .line-title {
            .item {
                .line-1 {
                    font-size: 85px;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .parts {
            flex-direction: column-reverse;
            .part-image {
                width: 100%;
                margin-top: 0;
                margin-bottom: 55px;
            }
        }

        .image {
            &:before {
                bottom: -40px;
            }
        }
        .share {
            right: 40px;
            .icon-main {
                height: 45px;
                width: 45px;
                img {
                    height: 25px;
                }
            }
        }

        .line-title {
            margin: 0 -20px;
            margin-bottom: 25px;
            .item {
                padding: 0 20px;
                .line-1 {
                    font-size: 45px;
                }
                .line-2 {
                    font-size: 20px;
                }
            }
        }
    }

}
/* --------------------- /Section recipe-top ---------------------- */

/* ---------------------- Section prepare ---------------------- */
section.prepare {
   
}
/* --------------------- /Section prepare ---------------------- */

.button-round.timer {
    margin-top: 30px;
}

/* ---------------------- Section blog ---------------------- */
section.blog {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -40px -60px;
        .box {
            width: 33.33%;
            padding: 40px 60px;
        }
    }

    @media only screen and (max-width : $lw) {
        .boxes {
            margin: -20px -30px;
            .box {
                padding: 20px 30px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            margin: -20px -15px;
            .box {
                width: 50%;
                padding: 20px 15px;

                .image {
                    height: 180px;
                }
                .text {
                    font-size: 20px;
                }
            }
        }
    }
}
/* --------------------- /Section blog ---------------------- */

.box-post {
    .image {
        height: 407px;
        transition-duration: 250ms;
        transition-property: transform, opacity;
        transform-origin: bottom center;
        font-size: 0;
        @include flex-center;
        text-align: center;
        .inner {
            height: 100%;
            overflow: hidden;
            border-radius: 13px;
            filter: drop-shadow(2px 11px 11px rgba(0, 0, 0, 0.25));
            display: inline-block;
            margin: auto;
        }
        img {
            height: 100%;
        }
    }

    .text {
        @include f-r;
        font-size: 30px;
        color: var(--color-text);
        margin-top: 35px;
        text-align: center;

        transition: 0.5s;
    }

    cursor: pointer;
    &:hover {
        .text {
            color: var(--color-main);
        }
    }

    @media only screen and (max-width : $lw) {
        .image {
            height: 325px;
        }
        .text {
            font-size: 25px;
            margin-top: 25px;
        }
    }

    @media only screen and (max-width : $mw) {
        .image {
            height: 235px;
        }
        .text {
            font-size: 22px;
            margin-top: 20px;
        }
    }
}



/* ---------------------- Section post ---------------------- */
section.post {

	.img-main {
		width: 50%;
		float: left;
		margin-right: 50px;
		margin-bottom: 50px;
		
		&.mobile {
			display: none;
		}
		img {
			width: 100%;
			margin-top: 0;
            box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
            border-radius: 20px;
		}
	}


	@media only screen and (max-width : $tw) {
	
	}

	@media only screen and (max-width : $mw) { 

		.img-main {
			float: none;
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
			margin-top: 0px;
			display: none;
			&.mobile {
				display: block;
			}
		}
	}
}
/* --------------------- /Section post ---------------------- */


/* ---------------------- Section blog-more ---------------------- */
section.blog-more {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -25px -25px;
        margin-top: 35px;
        .box {
            width: 25%;
            padding: 25px 25px;
        }
    }

    @media only screen and (max-width : $lw) {
        .boxes {
            margin: -20px -20px;
            margin-top: 25px;
            .box {
                padding: 20px 20px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            margin: -20px -15px;
            margin-top: 15px;
            .box {
                width: 50%;
                padding: 20px 15px;

                .image {
                    height: 180px;
                }
                .text {
                    font-size: 20px;
                }
            }
        }
    }
}
/* --------------------- /Section blog-more ---------------------- */

/* ---------------------- Section contact ---------------------- */
section.contact {
    overflow: visible;
    .decor {
        z-index: 9;
        &.d1 {
            top: -8%;
            width: 19%;
            text-align: left;
            left: 0%;

            @media only screen and (max-width : $mw) {
                top: -2%;
                width: 49%;
                text-align: left;
                left: -6%;
            }
        }
        &.d2 {
            bottom: -21%;
            width: 20%;
            text-align: left;
            left: 20%;

            @media only screen and (max-width : $mw) {
                bottom: -6%;
                width: 50%;
                text-align: left;
                left: 60%;
            }   
        }
    }
    .parts {
        .part-info {
            width: 33%;
        }
    }

    .contact {
        margin-top: 25px;
        &:first-child {
            margin-top: 0;
        }
        .contact-title {
            @include f-b;
            font-size: 24px;
            color: var(--color-text);
            padding-right: 35px;
        }
        .item {
            display: flex;
            @include f-r;
            font-size: 20px;
            color: var(--color-text);
            margin-top: 15px;
            .icon {
                margin-left: 15px;
                filter: brightness(0);
            }
        }
    }

    .social {
        display: flex;
        align-items: center;
        margin-top: 25px;
        .item {
            position: relative;
            margin: 20px;
            cursor: pointer;
            img {
                position: relative;
                z-index: 2;
            }
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                path {
                    transition: 0.5s;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: var(--color-text);
                    }
                }
            }
        }
    }

    .part-form {
        .title-form {
            @include f-bl;
            font-size: 40px;
            color: var(--color-text);
        }
        .wpcf7 {
            margin-top: 25px;
            .wpcf7-form-control-wrap {
                display: block;
                padding: 5px 5px;
            }
            .wrapper-submit {
                text-align: left;
            }
            form {
                //margin: 0;
                display: block;
            }
            input,
            select,
            textarea {
                border-radius: 27px;
                border: 1px solid #F4DED3;
                background: #FFF;
                padding: 20px 30px;
            }
            textarea {
                height: 130px;
            }
            input[type="submit"] {
                @include f-b;
                font-size: 20px;
                color: #fff;
                border: none;
    
                width: 151px;
                height: 60px;
                transition: 0.5s;
    
                background: url("../images/index/send-behind.svg") no-repeat;
                background-position: center center;
    
                cursor: pointer;
                &:hover {
                    color: var(--color-text);
                }
            }
            .cols {
                display: flex;
                margin: 0 -10px;
                .col{
                    width: 50%;
                    padding: 0 10px;
                }
            }
            
        }
    }

    @media only screen and (max-width : $mw) {
        .part-form {
            .title-form {
                font-size: 35px;
            }
            .wpcf7 {
                .cols {
                    flex-wrap: wrap;
                    margin: 0;
                    .col {
                        width: 100%;
                    }
                }
            }
        }
    }

}
/* --------------------- /Section contact ---------------------- */


footer.contact-page {
    padding-top: 70px;
    .cols {
        .col {
            flex-grow: 1;
        }
    }
    .bg {
        top: 0;
    }
    .cols {
        align-items: flex-end;
    }

    @media only screen and (max-width : $mw) {
        padding-top: 0;
    }
}


/* ---------------------- Section product ---------------------- */
section.product {
    .image {
        text-align: center;
        position: relative;
        img {
            filter: drop-shadow(2px 11px 11px rgba(0, 0, 0, 0.25));
        }

        &:before {
            content: "";
            position: absolute;
            display: block;
            height: 500px;
            width: 500px;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background: url("../images/inner/behind-product.svg") no-repeat;
            background-size: 100% auto;
            background-position: center center;
        }
    }

    .section-subtitle {
        margin-top: 35px;
    }

    .rows {
        margin-top: 35px;
        max-width: 450px;
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #CECECE;
            .icon {
                width: 25px;
                text-align: center;
                margin-left: 15px;
                flex-shrink: 0;
            }

            .text {
                flex-grow: 1;
                @include f-b;
                font-size: 20px;
                color: var(--color-text);
            }
            .number {
                @include f-b;
                font-size: 20px;
                color: var(--color-text);
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .parts {
            flex-direction: column-reverse;
            .part-image {
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
        .image {
            &:before {
                height: 300px;
                width: 300px;
            }
        }

        .rows {
            margin-top: 25px;
            .row {
                .text {
                    font-size: 18px;
                }
                .number {
                    font-size: 18px;
                }
            }
        }
    }
}
/* --------------------- /Section product ---------------------- */